.carousel-inner p{
    text-align: center;
}

.carousel-inner p {
    text-align: center;
}

small{
    text-align: center;
}
h6{
    padding: 0px;
    text-align:center;
    color: #DCDCDC;
    font-size: 10px;
}

.footer-heading img{
    width:100px;
    height: 40px;
}